.Rproj.user
.Rhistory
.RData
vignettes/figure
*.Rproj
vignettes/R_cache
vignettes/slingshot_cache
vignettes/R_figure
vignettes/slingshot_files
vignettes/slingshot.html
tests/testthat/Rplots.pdf
.DS_Store
